html {
	background-color: gray;
}

header {
	background-color: black;
}

footer {
	margin-top: 30px;
	background-color: gray;
}

body {

}

#container_logo {
	padding: 10px 0 10px 0;
}

.container {

}

.center {
	text-align: center;
}