{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

        <br/>
        <br/>

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" required="required" />

        <br/>
        <br/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Remember me</label>

        <br/>
        <br/>

        <input type="submit" id="_submit" name="_submit" value="Sign in" />
    </form>

{% endblock fos_user_content %}
